__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.env
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.editorconfig
dist/
build/
*.egg-info/

# Data / results
data/raw/
data/interim/
data/processed/
data/discretized/
data/solutions/
data/output_trajectories/
ocp_plots/
results/
todo-list.md

